body{
    background-color: #70d7ff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
body h1{
    /* background-color: #00aeff; */
    border-radius: 3px;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 15px;
    padding: 1rem;
}
body p{
    background-color: #d1ffc8;
    padding: 1rem;
    border-radius: 3px;
    border: 1px solid #008000;
    border-top: 5px solid #008000;
    box-shadow: 15px 10px 30px 5px;
}
body b{
    margin-left: 10px;
    font-size: 15px;
}

body img{
    height: 170px;

}